@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246; /* Light grayish-blue (cool gray) */
  --background-end-rgb: 255, 255, 255; /* Pure white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 17, 24, 39; /* Dark desaturated blue (very dark blue) */
    --background-end-rgb: 29, 78, 216; /* Dark moderate blue (blue NCS) */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

 .animate-fade-in {
          animation: fadeIn 2s ease-in-out;
        }

        .animate-slide-up {
          animation: slideUp 2s ease-in-out;
        }

        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        @keyframes slideUp {
          from {
            transform: translateY(20px);
            opacity: 0;
          }
          to {
            transform: translateY(0);
            opacity: 1;
          }
        }

.set-margin-hundred{
   margin:100px;
}

.fix-left-margin{
    margin-left: 13rem;
}
.kb-page-margin{
    margin-top: 74px;
    margin-right: 17px;
}
.fix-margin-left-footer{
    position: relative;
    z-index: 999999999;
}
.sidebarwidth{
    width: 200px;
}